In [50]:
from webscraper import Webscraper
import os
import sys
import re
import pandas as pd
from datetime import date

curr_dir = os.getcwd()
df = pd.read_csv(os.path.join(curr_dir, 'articles'))
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,220,221,222,223,224,225,226,227,228,229
0,apnews,prince-philip-england-coronavirus-pandemic-pri...,prince-philip-england-coronavirus-pandemic-pri...,prince-philip-england-coronavirus-pandemic-pri...,prince-philip-england-coronavirus-pandemic-pri...,prince-philip-england-coronavirus-pandemic-pri...,prince-philip-england-coronavirus-pandemic-pri...,ukraine-brazil-caracas-portugal-india-ccad0347...,breonna-taylor-race-and-ethnicity-death-of-dau...,arizona-colorado-lakes-water-shortages-colorad...,...,ballet-choreography-dance-london-queen-elizabe...,ballet-choreography-dance-london-queen-elizabe...,ballet-choreography-dance-london-queen-elizabe...,ap-top-news-cc060b086b5381062238f70db6cdd534,shannon-walker-kazakhstan-russia-michael-hopki...,shannon-walker-kazakhstan-russia-michael-hopki...,shannon-walker-kazakhstan-russia-michael-hopki...,sharks-fossils-albuquerque-new-mexico-f75bf616...,sharks-fossils-albuquerque-new-mexico-f75bf616...,sharks-fossils-albuquerque-new-mexico-f75bf616...
1,reuters,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df = df.transpose()
df = df.iloc

                 0
Unnamed: 0  apnews

In [47]:
apnews_link_ex1 = df.iloc[3,1]
apnews_link_ex2 = df.iloc[88,1]
apnews_link_ex3 = df.iloc[9,1]
                         
                         

print('ex1: ', apnews_link_ex1)
print('ex2: ', apnews_link_ex2)
print('ex3: ', apnews_link_ex3)

ex1:  ('americas', 'canadian-police-refuse-provincial-order-make-random-stops-amid-covid-19-surge-2021-04-17')
ex2:  nan
ex3:  ('world', 'special-report-health-official-alleges-sexual-slavery-tigray-women-blame-2021-04-15')